backEnd/baseDeDatos/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
backEnd/baseDeDatos/node_modules/.package-lock.json
backEnd/baseDeDatos/node_modules/.bin/esbuild
backEnd/baseDeDatos/node_modules/.bin/esbuild.cmd
backEnd/baseDeDatos/node_modules/.bin/esbuild.ps1
backEnd/baseDeDatos/node_modules/.bin/nanoid
backEnd/baseDeDatos/node_modules/.bin/nanoid.cmd
backEnd/baseDeDatos/node_modules/.bin/nanoid.ps1
backEnd/baseDeDatos/node_modules/.bin/rollup
backEnd/baseDeDatos/node_modules/.bin/rollup.cmd
backEnd/baseDeDatos/node_modules/.bin/rollup.ps1
backEnd/baseDeDatos/node_modules/.bin/vite
backEnd/baseDeDatos/node_modules/.bin/vite.cmd
backEnd/baseDeDatos/node_modules/.bin/vite.ps1
backEnd/baseDeDatos/node_modules/@esbuild/win32-x64/esbuild.exe
backEnd/baseDeDatos/node_modules/@esbuild/win32-x64/package.json
backEnd/baseDeDatos/node_modules/@esbuild/win32-x64/README.md
backEnd/baseDeDatos/node_modules/@rollup/rollup-win32-x64-msvc/package.json
backEnd/baseDeDatos/node_modules/@rollup/rollup-win32-x64-msvc/README.md
backEnd/baseDeDatos/node_modules/@rollup/rollup-win32-x64-msvc/rollup.win32-x64-msvc.node
backEnd/baseDeDatos/node_modules/@types/estree/flow.d.ts
backEnd/baseDeDatos/node_modules/@types/estree/index.d.ts
backEnd/baseDeDatos/node_modules/@types/estree/LICENSE
backEnd/baseDeDatos/node_modules/@types/estree/package.json
backEnd/baseDeDatos/node_modules/@types/estree/README.md
backEnd/baseDeDatos/node_modules/esbuild/install.js
backEnd/baseDeDatos/node_modules/esbuild/LICENSE.md
backEnd/baseDeDatos/node_modules/esbuild/package.json
backEnd/baseDeDatos/node_modules/esbuild/README.md
backEnd/baseDeDatos/node_modules/esbuild/bin/esbuild
backEnd/baseDeDatos/node_modules/esbuild/lib/main.d.ts
backEnd/baseDeDatos/node_modules/esbuild/lib/main.js
backEnd/baseDeDatos/node_modules/nanoid/index.browser.cjs
backEnd/baseDeDatos/node_modules/nanoid/index.browser.js
backEnd/baseDeDatos/node_modules/nanoid/index.cjs
backEnd/baseDeDatos/node_modules/nanoid/index.d.cts
backEnd/baseDeDatos/node_modules/nanoid/index.d.ts
backEnd/baseDeDatos/node_modules/nanoid/index.js
backEnd/baseDeDatos/node_modules/nanoid/LICENSE
backEnd/baseDeDatos/node_modules/nanoid/nanoid.js
backEnd/baseDeDatos/node_modules/nanoid/package.json
backEnd/baseDeDatos/node_modules/nanoid/README.md
backEnd/baseDeDatos/node_modules/nanoid/async/index.browser.cjs
backEnd/baseDeDatos/node_modules/nanoid/async/index.browser.js
backEnd/baseDeDatos/node_modules/nanoid/async/index.cjs
backEnd/baseDeDatos/node_modules/nanoid/async/index.d.ts
backEnd/baseDeDatos/node_modules/nanoid/async/index.js
backEnd/baseDeDatos/node_modules/nanoid/async/index.native.js
backEnd/baseDeDatos/node_modules/nanoid/async/package.json
backEnd/baseDeDatos/node_modules/nanoid/bin/nanoid.cjs
backEnd/baseDeDatos/node_modules/nanoid/non-secure/index.cjs
backEnd/baseDeDatos/node_modules/nanoid/non-secure/index.d.ts
backEnd/baseDeDatos/node_modules/nanoid/non-secure/index.js
backEnd/baseDeDatos/node_modules/nanoid/non-secure/package.json
backEnd/baseDeDatos/node_modules/nanoid/url-alphabet/index.cjs
backEnd/baseDeDatos/node_modules/nanoid/url-alphabet/index.js
backEnd/baseDeDatos/node_modules/nanoid/url-alphabet/package.json
backEnd/baseDeDatos/node_modules/picocolors/LICENSE
backEnd/baseDeDatos/node_modules/picocolors/package.json
backEnd/baseDeDatos/node_modules/picocolors/picocolors.browser.js
backEnd/baseDeDatos/node_modules/picocolors/picocolors.d.ts
backEnd/baseDeDatos/node_modules/picocolors/picocolors.js
backEnd/baseDeDatos/node_modules/picocolors/README.md
backEnd/baseDeDatos/node_modules/picocolors/types.d.ts
backEnd/baseDeDatos/node_modules/postcss/LICENSE
backEnd/baseDeDatos/node_modules/postcss/package.json
backEnd/baseDeDatos/node_modules/postcss/README.md
backEnd/baseDeDatos/node_modules/postcss/lib/at-rule.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/at-rule.js
backEnd/baseDeDatos/node_modules/postcss/lib/comment.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/comment.js
backEnd/baseDeDatos/node_modules/postcss/lib/container.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/container.js
backEnd/baseDeDatos/node_modules/postcss/lib/css-syntax-error.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/css-syntax-error.js
backEnd/baseDeDatos/node_modules/postcss/lib/declaration.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/declaration.js
backEnd/baseDeDatos/node_modules/postcss/lib/document.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/document.js
backEnd/baseDeDatos/node_modules/postcss/lib/fromJSON.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/fromJSON.js
backEnd/baseDeDatos/node_modules/postcss/lib/input.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/input.js
backEnd/baseDeDatos/node_modules/postcss/lib/lazy-result.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/lazy-result.js
backEnd/baseDeDatos/node_modules/postcss/lib/list.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/list.js
backEnd/baseDeDatos/node_modules/postcss/lib/map-generator.js
backEnd/baseDeDatos/node_modules/postcss/lib/no-work-result.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/no-work-result.js
backEnd/baseDeDatos/node_modules/postcss/lib/node.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/node.js
backEnd/baseDeDatos/node_modules/postcss/lib/parse.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/parse.js
backEnd/baseDeDatos/node_modules/postcss/lib/parser.js
backEnd/baseDeDatos/node_modules/postcss/lib/postcss.d.mts
backEnd/baseDeDatos/node_modules/postcss/lib/postcss.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/postcss.js
backEnd/baseDeDatos/node_modules/postcss/lib/postcss.mjs
backEnd/baseDeDatos/node_modules/postcss/lib/previous-map.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/previous-map.js
backEnd/baseDeDatos/node_modules/postcss/lib/processor.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/processor.js
backEnd/baseDeDatos/node_modules/postcss/lib/result.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/result.js
backEnd/baseDeDatos/node_modules/postcss/lib/root.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/root.js
backEnd/baseDeDatos/node_modules/postcss/lib/rule.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/rule.js
backEnd/baseDeDatos/node_modules/postcss/lib/stringifier.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/stringifier.js
backEnd/baseDeDatos/node_modules/postcss/lib/stringify.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/stringify.js
backEnd/baseDeDatos/node_modules/postcss/lib/symbols.js
backEnd/baseDeDatos/node_modules/postcss/lib/terminal-highlight.js
backEnd/baseDeDatos/node_modules/postcss/lib/tokenize.js
backEnd/baseDeDatos/node_modules/postcss/lib/warn-once.js
backEnd/baseDeDatos/node_modules/postcss/lib/warning.d.ts
backEnd/baseDeDatos/node_modules/postcss/lib/warning.js
backEnd/baseDeDatos/node_modules/rollup/LICENSE.md
backEnd/baseDeDatos/node_modules/rollup/package.json
backEnd/baseDeDatos/node_modules/rollup/README.md
backEnd/baseDeDatos/node_modules/rollup/dist/getLogFilter.d.ts
backEnd/baseDeDatos/node_modules/rollup/dist/getLogFilter.js
backEnd/baseDeDatos/node_modules/rollup/dist/loadConfigFile.d.ts
backEnd/baseDeDatos/node_modules/rollup/dist/loadConfigFile.js
backEnd/baseDeDatos/node_modules/rollup/dist/native.js
backEnd/baseDeDatos/node_modules/rollup/dist/parseAst.d.ts
backEnd/baseDeDatos/node_modules/rollup/dist/parseAst.js
backEnd/baseDeDatos/node_modules/rollup/dist/rollup.d.ts
backEnd/baseDeDatos/node_modules/rollup/dist/rollup.js
backEnd/baseDeDatos/node_modules/rollup/dist/bin/rollup
backEnd/baseDeDatos/node_modules/rollup/dist/es/getLogFilter.js
backEnd/baseDeDatos/node_modules/rollup/dist/es/package.json
backEnd/baseDeDatos/node_modules/rollup/dist/es/parseAst.js
backEnd/baseDeDatos/node_modules/rollup/dist/es/rollup.js
backEnd/baseDeDatos/node_modules/rollup/dist/es/shared/node-entry.js
backEnd/baseDeDatos/node_modules/rollup/dist/es/shared/parseAst.js
backEnd/baseDeDatos/node_modules/rollup/dist/es/shared/watch.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/fsevents-importer.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/index.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/loadConfigFile.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/parseAst.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/rollup.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/watch-cli.js
backEnd/baseDeDatos/node_modules/rollup/dist/shared/watch.js
backEnd/baseDeDatos/node_modules/source-map-js/LICENSE
backEnd/baseDeDatos/node_modules/source-map-js/package.json
backEnd/baseDeDatos/node_modules/source-map-js/README.md
backEnd/baseDeDatos/node_modules/source-map-js/source-map.d.ts
backEnd/baseDeDatos/node_modules/source-map-js/source-map.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/array-set.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/base64-vlq.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/base64.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/binary-search.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/mapping-list.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/quick-sort.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/source-map-consumer.d.ts
backEnd/baseDeDatos/node_modules/source-map-js/lib/source-map-consumer.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/source-map-generator.d.ts
backEnd/baseDeDatos/node_modules/source-map-js/lib/source-map-generator.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/source-node.d.ts
backEnd/baseDeDatos/node_modules/source-map-js/lib/source-node.js
backEnd/baseDeDatos/node_modules/source-map-js/lib/util.js
backEnd/baseDeDatos/node_modules/vite/client.d.ts
backEnd/baseDeDatos/node_modules/vite/index.cjs
backEnd/baseDeDatos/node_modules/vite/index.d.cts
backEnd/baseDeDatos/node_modules/vite/LICENSE.md
backEnd/baseDeDatos/node_modules/vite/package.json
backEnd/baseDeDatos/node_modules/vite/README.md
backEnd/baseDeDatos/node_modules/vite/bin/openChrome.applescript
backEnd/baseDeDatos/node_modules/vite/bin/vite.js
backEnd/baseDeDatos/node_modules/vite/dist/client/client.mjs
backEnd/baseDeDatos/node_modules/vite/dist/client/env.mjs
backEnd/baseDeDatos/node_modules/vite/dist/node/cli.js
backEnd/baseDeDatos/node_modules/vite/dist/node/constants.js
backEnd/baseDeDatos/node_modules/vite/dist/node/index.d.ts
backEnd/baseDeDatos/node_modules/vite/dist/node/index.js
backEnd/baseDeDatos/node_modules/vite/dist/node/runtime.d.ts
backEnd/baseDeDatos/node_modules/vite/dist/node/runtime.js
backEnd/baseDeDatos/node_modules/vite/dist/node/types.d-aGj9QkWt.d.ts
backEnd/baseDeDatos/node_modules/vite/dist/node/chunks/dep-Ba1kN6Mp.js
backEnd/baseDeDatos/node_modules/vite/dist/node/chunks/dep-C6EFp3uH.js
backEnd/baseDeDatos/node_modules/vite/dist/node/chunks/dep-CB_7IfJ-.js
backEnd/baseDeDatos/node_modules/vite/dist/node/chunks/dep-D-7KCb9p.js
backEnd/baseDeDatos/node_modules/vite/dist/node/chunks/dep-IQS-Za7F.js
backEnd/baseDeDatos/node_modules/vite/dist/node-cjs/publicUtils.cjs
backEnd/baseDeDatos/node_modules/vite/types/customEvent.d.ts
backEnd/baseDeDatos/node_modules/vite/types/hmrPayload.d.ts
backEnd/baseDeDatos/node_modules/vite/types/hot.d.ts
backEnd/baseDeDatos/node_modules/vite/types/import-meta.d.ts
backEnd/baseDeDatos/node_modules/vite/types/importGlob.d.ts
backEnd/baseDeDatos/node_modules/vite/types/importMeta.d.ts
backEnd/baseDeDatos/node_modules/vite/types/metadata.d.ts
backEnd/baseDeDatos/node_modules/vite/types/package.json
