.MenLeft{
    background-color: rgb(239, 232, 247);
}
.view-perfil{
    display: grid;
}
.cont-perfil{
    float: left;
    width: 100%;
}
.list-perfil{
    float: left;
    width: 25%;
}

.desc-perfil{
    float: left;
    width: 75%;
}
.descrip-perfil{
    width: 30%;
    float: left;
    margin: 0px 10px;
    height: 400px;
}
.descrip-perfil img{
    margin: auto;
    margin-top: 15px;
}

.body-date{
    float: left;
    width: 35%;
}


/*estilos de page actions*/

.bottoms{
    margin: auto;
}
.bot{
    float: left;
    margin: 0px 3px;
}